<meta charset="UTF-8">
<title>JABA 201213050</title>   
<!-- CSS -->  
<script src= "./bootstrap/js/popper.js" > </script>
<script src= "/bootstrap/js/popper.min.js" > </script>
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<script src="/jquery/jquery-3.2.1.slim.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<link rel=stylesheet href="/codemirror-5.36.0/doc/docs.css">
<link rel="stylesheet" href="/codemirror-5.36.0/lib/codemirror.css">
<script src="/codemirror-5.36.0/lib/codemirror.js"></script>
<script src="/codemirror-5.36.0/addon/edit/matchbrackets.js"></script>
<link rel="stylesheet" href="/codemirror-5.36.0/addon/hint/show-hint.css">
<script src="/codemirror-5.36.0/addon/hint/show-hint.js"></script>
<script src="/codemirror-5.36.0/mode/clike/clike.js"></script>
<script src="/codemirror-5.36.0/addon/selection/active-line.js"></script>
<script src="/codemirror-5.36.0/addon/mode/simple.js";></script>
<script src="/carga.js";></script>
<link rel="stylesheet" href="/codemirror-5.36.0/theme/neo.css">
<link rel="stylesheet" href="/codemirror-5.36.0/theme/3024-night.css">
<link rel="stylesheet" href="/codemirror-5.36.0/theme/3024-day.css">
<link rel="stylesheet" href="/codemirror-5.36.0/theme/abcdef.css">
<link rel="stylesheet" href="/codemirror-5.36.0/theme/ambiance.css">



<!-- IMPORTACION PARA COMPILACION -- -->

    <!-- Analizador 
    <script src="/js/Lecciones.js"></script>
-->
<script src="/compilador/analizador/Principal.js"></script>
<script src="/compilador/analizador/gramatica.js"></script>
<script src="/compilador/analizador/TablaSimbolos.js"></script>
<script src="/compilador/analizador/PrimerRecorrido.js"></script>
<script src="/compilador/analizador/SegundoRecorrido.js"></script>
<script src="/compilador/analizador/Operacion.js"></script>

<!-- Objetos -->
<script src="/compilador/analizador/Objetos/Variable.js"></script>
<script src="/compilador/analizador/Objetos/Clase.js"></script>
<script src="/compilador/analizador/Objetos/Simbolo.js"></script>
<script src="/compilador/analizador/Objetos/Metodo.js"></script>
<script src="/compilador/analizador/Objetos/Errores.js"></script>
<script src="/compilador/analizador/Objetos/Estructura.js"></script>
<script src="/compilador/analizador/Objetos/Expresion.js"></script>
<script src="/compilador/analizador/Objetos/Arreglo.js"></script>
<script src="/compilador/analizador/Objetos/Objeto.js"></script>
<script src="/compilador/analizador/Objetos/Codigo.js"></script>

<!-- Codigo3D -->
<script src="/compilador/analizador/Codigo3D/Codigo3D.js"></script>
<script src="/compilador/analizador/Codigo3D/Control3D.js"></script>
<script src="/compilador/analizador/Codigo3D/Generar3D.js"></script>
<!-- Analizador 3D -->
<script src="/compilador/analizador3D/Ejecutar3D.js"></script>
<script src="/compilador/analizador3D/gramatica3D.js"></script>
<script src="/compilador/analizador3D/Recorrido3D.js"></script>


<!-- Objetos -->
<script src="/compilador/analizador3D/Objetos/Metodo3D.js"></script>
<script src="/compilador/analizador3D/Objetos/Temporal.js"></script>

<!-- Debugger -->
<script src="/compilador/debugger/RecorridoDebugger.js"></script>
<script src="/compilador/debugger/Debugger.js"></script>
<script src="/compilador/debugger/Actualizar.js"></script>
<script src="/compilador/debugger/NodoDebug.js"></script>

<!-- Ejecutar -->
<script src="/compilador/Ejecutar.js"></script>

<script src="/InterpreteIntermedio/intermedio.js"></script>  






<script src="/gcc/gcc.js";></script>
<script src="/gcc/nodo.js";></script>
<script src="/gcc/grafica.js";></script>
<script src="/gcc/main.js";></script>
<script src="/gcc/simbolo.js";></script>
<script src="/gcc/tablasimbolos.js";></script>
<script src="/gcc/codegenerator.js";></script>


<!--<style>.CodeMirror {border: 2px inset #dee;}</style>-->
<style>
    .CodeMirror {border: 1px solid silver; border-width: 2px 2px; font-size:14px }
    .cm-header { font-family: 'Courier New', Courier, monospace; }
    .cm-header-1 { font-size: 150%; }
    .cm-header-2 { font-size: 130%; }
    .cm-header-3 { font-size: 120%; }
    .cm-header-4 { font-size: 110%; }
    .cm-header-5 { font-size: 100%; }
    .cm-header-6 { font-size: 90%; }
    .cm-strong { font-size: 140%; }    
  </style>


<style type="text/css">
    .nav-tabs th td thead {font-size:33px;}
  </style>



